<section>
    <div class="head-page">
        <div class="container">
            <h1>Contato</h1>
        </div>
    </div>
    <div class="container">
        <div class="content">
                <h2>Fale Conosco</h2>
            <div class="contato">
                <div class="contato-endereco">
                    <div class="icone"><img src="./assets/img/localizacao.png" /></div>
                        <div class="texto">
                        <span>Localização:</span>
                        <p>Rua Coronel Agra, 2514 - Cidade Alta - Venâncio Aires</p>
                        </div>  
                </div>
                <div class="contato-email">
                    <div class="icone"><img src="./assets/img/o-email.png" /></div>
                    <div class="texto">
                        <span>Email:</span>
                        <p>merceariaschons@gmail.com</p>
                    </div>
                </div>
                <div class="contato-telefone">
                    <div class="icone"><img src="./assets/img/telefone.png" /></div>
                    <div class="texto">
                        <span>Telefone</span>
                        <p>(51) 3741-2663 / (51) 98030-2443</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>