<section>
    <div class="head-page">
        <div class="container">
            <h1>Nossos Produtos</h1>
        </div>
    </div>
    <div class="container-geral">
        <div class="imgefeito">
            <a href="#">
                <img src="./assets/img/medialuna_para_postar.png" />
                <span class="desc">
                    <strong>Medialuna</strong>
                </span>
            </a>
        </div>
        <div class="imgefeito">
            <a href="#">
                <img src="./assets/img/rosquinhaa.png" />
                <span class="desc">
                    <strong>Rosquinha</strong>
                </span>
            </a>
        </div>
        <div class="imgefeito">
            <a href="#">
                <img src="./assets/img/tortafundo mais claro.png" />
                <span class="desc">
                    <strong>Torta de Café</strong>
                </span>
            </a>
        </div>
        <div class="imgefeito">
            <a href="#">
                <img src="./assets/img/torta para aniversario.png" />
                <span class="desc">
                    <strong>Torta Aniversário</strong>
                </span>
            </a>
        </div>
        <div class="imgefeito">
            <a href="#">
                <img src="./assets/img/crossaint3.png" />
                <span class="desc">
                    <strong>Croissant</strong>
                </span>
            </a>
        </div>    
    </div>
</section>