.head-page{
    background: rgb(206, 206, 206) 0% 0% no-repeat padding-box;
    height: 189px;
    padding-bottom: 40px;
    margin: 60px auto 40px auto;
    padding: 0 5%;

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px;
    }

    h1{
        color: var(--cinza);
        font-size: 2rem;
    }
}

.container-geral{
    column-count: 3;
    column-gap: 10px;
    margin: 100px;

}

.imgefeito {
    margin: 0;
    float: left;
    position: relative;
    overflow: hidden;
}
.imgefeito a {
    text-decoration: none;
    float: left;
}
.imgefeito a:hover {
    cursor: pointer;
} 

.imgefeito a img {
    float: left;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
   
    
} 

.imgefeito a:hover .desc{
    display: block;
    font-size: 1.2em;
    background: rgb(18, 18, 18);
    opacity:.75;
    color: #fff;
    position: absolute;
    bottom: 9px;
    left: 1px;
    padding: 10px;
    margin: 0;
    width: 100%;
    visibility: visible;
}
.desc{
    position: absolute;
    bottom: 20px;
    left: 10px;
    visibility: hidden;
}

.imgefeito a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.5em;
}


@media(max-width: 1024px){
    .container-geral{
        margin: 45px;
    }
}

@media (max-width: 858px){
    .head-page{
        height: 160px;

        .container{
            padding: 60px;
        }

        h1{
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 768px){
    .head-page{
        height: 120px;

        .container{
            padding: 50px;
        }

        h1{
            font-size: 1.6rem;
        }
    }

    .container-geral{
        column-count: 2;
        column-gap: 8px;
        margin: 25px;
    }
}

@media (max-width: 480px){
    .container-geral{
        column-count: 1;
        column-gap: 8px;
        margin: 20px;
    }
}