.head-page{
    background: rgb(206, 206, 206) 0% 0% no-repeat padding-box;
    height: 189px;
    padding-bottom: 40px;
    margin: 60px auto 40px auto;
    padding: 0 5%;

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px;
    }

    h1{
        color: var(--cinza);
        font-size: 2rem;
    }
}

.container-geral{
    column-count: 3;
    column-gap: 10px;
    margin: 100px;
}

.imgefeito {
    margin: 0;
    float: left;
    position: relative;
    overflow: hidden;
}

.imgefeito img {
    float: left;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px; 
} 

.desc_modal{
    border: none;
    background-color: none;
    font-size: 18px;
    width: 100%;
    margin: 10px;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.modal{
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 500px;
    background-color: white;
    border-radius: 11px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    top: 95px;

    .fechar{
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 15px;
        border: none;
        background-color: #ffffff;
        opacity: 0.9;
        transition: 0.4s;
        cursor: pointer;
        i{
            font-size: 2.5rem;
        }

        &:hover{
            opacity: 1;
        }
    }

    .modal-box{
        align-items: center;
        
        .modal-titulo{
            text-align: center;
            height: 60px;
            border-bottom: 1px solid #b8b8b8;
            margin: 20px 0;

            h2{
                font-size: 1.5rem;
                padding-bottom: 5px;
            }

            p{
                font-size: 1rem;
                color: black;
            }
        }

        .modal-img{
            padding: 0 10px 10px;
        }
    }
}



@media(max-width: 1024px){
    .container-geral{
        margin: 45px;
    }
}

@media (max-width: 858px){
    .head-page{
        height: 160px;

        .container{
            padding: 60px;
        }

        h1{
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 768px){
    .head-page{
        height: 120px;

        .container{
            padding: 50px;
        }

        h1{
            font-size: 1.6rem;
        }
    }

    .container-geral{
        column-count: 2;
        column-gap: 8px;
        margin: 25px;
    }
}

@media (max-width: 480px){
    .container-geral{
        column-count: 1;
        column-gap: 8px;
        margin: 20px;
    }

    .desc_modal{
        font-size: 14px;
    }
}