<section>
    <div class="head-page">
        <div class="container">
            <h1>Sobre Nós</h1>
        </div>
    </div>
    <div class="container">
        <div class="sobre-content">
            <div class="sobre-text">
                <h2>Mercearia Schons </h2>
                <p>Foi no ano de 1992 que a empresa Mercearia Schons foi criada. Após a aquisição de um imovél no bairro Cidade Alta, pelo proprietário Arno José Schons.
                    Devido ao imóvel na epóca ter aspecto comercial, surgiu a ideia de ali abrir um negócio. Por longos anos os únicos funcionários da Mercearia eram os familiares.
                    Por volta do ano de 1996, Marciano entra para o negócio familiar, contribuindo para o crescimento da empresa.
                    Em meados dos anos 2000, é construído um novo prédio no qual a Mercearia Schons está até hoje. Foi em 2013 que expandimos e abrimos nossa padaria no local do primeiro prédio.
                    Se estamos até hoje em atividade, isso é fruto de muito esforço por parte de nossos colaboradores e clientes que frequentam nosso espaço diariamente.
                </p>
            </div>
            <div class="sobre-img">
                <img src="./assets/img/frente_mercearia.png" />
            </div>
        </div>
    </div>
</section>