<section>
    <div class="head-page">
        <div class="container">
            <h1>Sobre Nós</h1>
        </div>
    </div>
    <div class="container">
        <div class="sobre-content">
            <div class="sobre-text">
                <h2>Mercearia Schons </h2>
                <p>A Mercearia Schons foi criada no ano de 1992. Após a aquisição de um imovél no bairro Cidade Alta.
                    Devido ao imóvel na epóca ter aspecto comercial, surgiu a ideia de ali abrir um negócio. 
                    Em meados dos anos 2000, é construído um novo prédio na esquina, ao lado do antigo. Ao longo dos anos o espaço ficou pequeno e foi necessário crescer, sendo assim, em 2013 foi realizada uma reforma no antigo prédio para anexar com o novo, o que trouxe além de espaço, mais conforto e comodidade para nossos clientes. 
                    Se estamos até hoje em atividade, isso é fruto de muito esforço por parte de nossos colaboradores e clientes que frequentam nosso espaço diariamente.
                </p>
            </div>
            <div class="sobre-img">
                <img src="./assets/img/frente_mercearia.png" />
            </div>
        </div>
    </div>
</section>