.head-page{
    background: rgb(206, 206, 206) 0% 0% no-repeat padding-box;
    height: 189px;
    padding-bottom: 40px;
    margin: 60px auto 40px auto;
    padding: 0 5%;

    .container{
        padding: 80px;
    }

    h1{
        color: var(--cinza);
        font-size: 2rem;
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.modal{
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 500px;
    background-color: white;
    border-radius: 11px;
    display: none;
    flex-direction: column;
    overflow: hidden;

    .fechar{
        width: 50px;
        display: flex;
        

    }

    .box{
        padding: 100px;
        justify-content: center;
        margin: 0 auto;

    }
}


.ofertas{
    margin: 60px auto 40px auto;
    display: inline-flex;
    justify-content: center;
    
    img{
        width: 100%;
    }

    .img_modal{
        width: 100%;
    }

    &__item{
        box-shadow: 0 0 1em rgb( 0 0 0 / .3);
        display: block;
        margin-right: 30px;
        
    }
}