<section class="lista-ofertas">
    <div class="head-page">
        <div class="container">
            <h1>Ofertas</h1>
        </div>
    </div>
    <div class="container">
        <div class="ofertas">
            <div class="modal-overlay" id="overlay">
                <div class="modal" id="modal">
                    <div class="modal-box">
                        <div class="modal-titulo">
                            <input value="" disabled class="desc_modal" id="desc_modal" />
                        </div>
                        <div class="modal-img">
                            <img class="img_modal" id="img_modal" src="./assets/img/ofertas tabloide novo 27 01 23.png" />
                        </div>
                        <button class="fechar" id="fechar"><i class="fa-sharp fa-solid fa-circle-xmark"></i></button>
                    </div>
                </div>
            </div>
            <div class="ofertas__item">
                <img (click)="openModal()" src="./assets/img/ofertas tabloide novo 27 01 23.png" class="small-img" />
            </div>
            <div class="ofertas__item">
                <img (click)="openModal()" src="./assets/img/oferta 03 03.png" class="small-img" />
            </div>
            <div class="ofertas__item">
                <img (click)="openModal()" src="./assets/img/ofertas 10 02.png" class="small-img" />
            </div>
        </div>
    </div>
</section>