<header>
  <div class="container">
    <div class="logo">
      <a href=""><img src="assets/img/logo_site.png" /></a>
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="menu">
      <li class="menu__item"><a href="ofertas">Ofertas</a></li>
      <li class="menu__item"><a href="padaria">Padaria</a></li>
      <li class="menu__item"><a href="sobre">Sobre</a></li>
      <li class="menu__item"><a href="contato">Contato</a></li>
      <div class="separador"></div>
      <li class="menu__item icon"><a href="https://www.facebook.com/MerceariaSchons"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="menu__item icon"><a href="https://www.instagram.com/merceariaschons/"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </div>
</header>
<main>

  <router-outlet></router-outlet>

</main>
<footer>
  <div class="container-footer">
    <div class="container-img">
      <img src="assets/img/logo_site.png" />
    </div>
    <div class="content">
      <p class="content__titulo">Mercearia Schons</p>
      <p class="content__endereco">rua Coronel Agra, 2514 - Cidade Alta - Venâncio Aires/RS</p>
      <p class="content__telefone">(51) 3741-2663 / (51) 9 8030-2443</p>
      <p class="content__email">merceariaschons@gmail.com</p>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2022 - Mercearia Schons - Todos os direitos reservados</p>
  </div>

</footer>