<section class="banner">
    <div class="inner-banner">
        <h2>Temos variedades em nossa Padaria!</h2>
        <p>Da uma conferida nas delícias que temos na padaria, 
            assim como os dias em que estão disponiveis.
        </p>
        <a href="padaria" class="button">Quero Conferir</a>

    </div>
</section>
<section class="boas-vindas">
    <h1>Seja Bem-Vindo à Mercearia Schons!</h1>
    <div class="container">
        <a href="ofertas" class="box">
            <div class="box__oferta">
                <i class="fa-regular fa-percent"></i>
                <h3>Ofertas da semana</h3>
                <span>Confira os folhetos e economize</span>
            </div>
        </a>
        <a href="padaria" class="box">
            <div class="box__padaria">
                <i class="fa-solid fa-bread-slice"></i>
                <h3>Veja nossa Padaria</h3>
                <span>Veja todos as delícias que temos na padaria</span>
            </div>
        </a>
        <a href="sobre" class="box">
            <div class="box__sobre">
                <i class="fa-solid fa-circle-info"></i>
                <h3>Sobre Nós</h3>
                <span>Conheça um pouco da nossa história</span>
            </div>
        </a>
    </div>
</section>
<div class="separador-section"></div>
<section class="lista-transmissao">
    <div class="container">
        <div class="grid-1">
            <h3>Inscreva-se em nossa lista de transmissão</h3>
            <p>Receba via WhatsApp todas nossas ofertas do final de semana!</p>
            <p>Basta clicar no botão abaixo e pedir para se inscrever</p>
            <div class="grid-1-btn">
                <a href=" https://wa.me/5551999861977?text=Quero receber as ofertas!" class="botao-wpp">Enviar Mensagem</a>
            </div>
        </div>
        <div class="grid-2">
            <img src="./assets/img/img_cel_wpp.png" />
        </div>
    </div>
</section>


