.banner{
    background: url(../../assets/img/webp-640.png) 27% no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner-banner{
        padding: 3rem;
        background: url(../../assets/img/background-inner.png);
        opacity: 0.9;
        box-shadow: 10px 10px 0 0 rgb(44 44 44 / 20%);
        width: 674px;
        min-height: 290px;
        padding: 2.8125rem 2.375rem;
        border: 4px double var(--cinza);
        text-align: center;

        h2{
            font-size: 3rem;
            color: var(--cinza);
            font-style: normal;
            font-family: serif;
            padding-bottom: 10px;
        }

        p{
            margin: 0 0 1.5rem;
            font-size: 1.1875rem;
            line-height: 1.8125rem;
            font-style: normal;
            font-family: "freight-text-pro",serif;
        }

        .button{
            position: relative;
            display: inline-flex;
            align-items: center;
            box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
            justify-content: center;
            min-width: 100px;
            height: 45px;
            padding: 0 2.25rem;
            border: 1px solid #a5684d;
            background: #fff;
            color: var(--text-botao);
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: .05625rem;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            
            &:hover{
                border: 2px solid #a5684d;
                box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);

            }
        }
    }
}

.boas-vindas{
    margin-top: 40px;
    justify-content: center;

    h1{
        text-align: center;
        font-weight: 700;
        font-style: normal;
        font-family: serif;
        color: var(--cinza);
        font-size: 3rem;
        line-height: 3.75rem;
    }

    .container{
        display: flex;
        margin: 100px 80px;
        vertical-align: center;
        text-align: center;
        justify-content: center;
    }

    .box{
        padding: 30px;
        width: 400px;
        border: 1px solid var(--cinza);
        box-shadow: 5px 5px 0 0 rgb(44 44 44 / 25%);
        min-height: 200px;
        background-color: #f2f2f2;     

        i {
            font-size: 50px;
            color: var(--cinza);
        }

        &:hover{
            border: 2px solid black;
            box-shadow: 9px 9px 0 0 rgb(44 44 44 / 20%);
        }

        &:nth-child(n+2):nth-child(-n+3){
            margin-left: 20px;
        }

        h3{
            font-size: 1.5em;
            padding: 10px;
            color: var(--cinza);
        }

        span{
            font-size: 1em;
            color: var(--cinza);
        }
    }
}

.separador-section{
    height: 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 80%;
    margin: 0 auto;
}

.lista-transmissao{
    margin-top: 40px;

    .container{
        display: flex;
        margin: 100px 80px;
        justify-content: center;
       
        .grid-1{
            display: inline-block;
            margin-right: 30px;
            vertical-align: middle;
            align-items: center;            

            h3{
                font-size: 2em;
                padding-bottom: 25px;
                color: var(--cinza);
                text-align: center;
            }

            p{
                font-size: 1.2em;
                color: var(--cinza);
                text-align: center;
                line-height: 2rem;
            }

            a{
                margin-top: 30px;
                display: flex;
                min-width: 100px;
                box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
                padding: 15px;
                border: 1px solid #a5684d;
                background: #fff;
                color: var(--text-botao);
                font-weight: 700;
                font-size: 1rem;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

                &:hover{
                    border: 2px solid #a5684d;
                    box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);
                }
            }
        }

        .grid-2{
            margin-left: 30px;
            img{
                width: 300px;
            }
        }
    }
}

@media (max-width: 858px){
    .boas-vindas{
        h1{
            font-size: 40px;
        }
    }

}

@media (max-width: 768px){

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;

        .inner-banner{
            width: 450px;
    
            h2{
                font-size: 2.50rem;
            }
        }
    }

    .boas-vindas{
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px auto;
            
        }

        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-bottom: 20px;
            max-height: 100px;

            &:nth-child(n+2):nth-child(-n+3){
                margin-left: 0px;
            }
        }
    }

    .lista-transmissao{
        .container{
            margin: 80px 50px;

            .grid-1{
                margin-right: 0;
                
                
                &-btn{
                    justify-content: center;
                    max-width: 200px;
                }
                
            }
    
            .grid-2{
                display: none;
            }
        }
    }
}


